CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
src/*.so
src/oaconvert
test/MainTest
tags
*.mp
*.exe
!cgpsmapper/mypreview.mp
.*.swp
.*.swo
cgpsmapper/*.TDB
cgpsmapper/*.reg
cgpsmapper/*.img
Setup.exe
build/*
src/cygairspace.dll
src/libairspace.dll.a
src/oaconvert.exe
