# CMake stuff.
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
Makefile

# Eclipse project files
.cproject
.project

# Compiled stuff in the src and test directory.
libairspace.a
src/*.so
src/cygairspace.dll
src/libairspace.dll.a
src/oaconvert
src/oaconvert.exe
test/MainTest

# Everything from the build directory can be ignored.
build/*

# GPL text on Barts computer, used for inclusion in all source files.
gpltext.txt

# ctags
tags
