CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
src/*.so
src/oaconvert
test/MainTest
tags
*.mp
!cgpsmapper/mypreview.mp
.*.swp
.*.swo
openair/belgium/belgium.*
cgpsmapper/*.TDB
cgpsmapper/*.reg
cgpsmapper/*.img
